.neon {
    color: #fff;
    text-shadow:
            0 0 5px #fff,
            0 0 10px #fff,
            0 0 20px #fff,
            0 0 40px #0ff,
            0 0 80px #0ff,
            0 0 90px #0ff,
            0 0 100px #0ff,
            0 0 150px #0ff;
}

/* general styling */
.container1 {
    margin: 0 auto;
}

h1 {
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

body {
    background-color: #1a1a1a;
    background: radial-gradient(circle at center,#1a1546,#040411 40%);
    /*display: flex;*/
    height: 100vh;
    width: 100%;
    font-family: Arial, sans-serif;
}



/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}