/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    background: radial-gradient(circle at center,#1a1546,#040411 40%);
}

.neon {
    color: #fff;
    text-shadow:
            0 0 5px #fff,
            0 0 10px #fff,
            0 0 20px #fff,
            0 0 40px #0ff,
            0 0 80px #0ff,
            0 0 90px #0ff,
            0 0 100px #0ff,
            0 0 150px #0ff;
}

header {
    background-color: rgba(26, 21, 70, 0.95);
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

a {
    color: #fff;
    text-decoration: none;
}
